# Enable Mouse
set -g mouse on
# Color Correction
set-option -sa terminal-overrides ",xterm:Tc"

# set prefix
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

# Vim style pane movement 
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Shift arrow to switch windows
bind -n S-Left previous-window
bind -n S-Right next-window

# Saves to path for new pane
bind '"' split-window -v -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"

# Setting theme !
set -g @tokyo-night-tmux_theme storm
set -g @tokyo-night-tmux_theme storm
set -g @tokyo-night-tmux_transparent 1
set @tokyo-night-tmux_window_id_style digital
set @tokyo-night-tmux_pane_id_style hsquare
set @tokyo-night-tmux_zoom_id_style dsquare
set -g @tokyo-night-tmux_terminal_icon 
set -g @tokyo-night-tmux_active_terminal_icon 
set -g @tokyo-night-tmux_window_tidy_icons 0
set -g @tokyo-night-tmux_show_hostname 1

# No extra spaces between icons
set -g @tokyo-night-tmux_window_tidy_icons 0
# Loading plugins
set -g @plugin "janoamaral/tokyo-night-tmux"
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'


run '~/.tmux/plugins/tpm/tpm'
